* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    min-width: 400px;
}

.leads-container {
    background: rgba(255, 255, 255, 0.08); /* very light smoky white */
    
    border-radius: 14px;
    padding: 1.5rem;

    border: 1px solid rgba(255, 255, 255, 0.15);

    box-shadow:
        0 8px 24px rgba(0, 0, 0, 0.18);

    color: black
}
